[submodule "third_party/srl_projection"]
	path = third_party/srl_projection
	url = git@bitbucket.org:smartroboticslab/srl_projection.git
[submodule "se_map/test/googletest"]
	path = se_map/test/googletest
	url = https://github.com/google/googletest.git
