# SPDX-FileCopyrightText: 2021 Smart Robotics Lab, Imperial College London, Technical University of Munich
# SPDX-License-Identifier: CC0-1.0

Nils Funk <nils.funk13@imperial.ac.uk> <32297855+NilsFunk@users.noreply.github.com>
Nils Funk <nils.funk13@imperial.ac.uk> <funkn@student.ethz.ch>
Nils Funk <nils.funk13@imperial.ac.uk> <nilsiism>
Sotiris Papatheodorou <s.papatheodorou18@imperial.ac.uk> <sotiris@papatheodorou.xyz>
Sotiris Papatheodorou <s.papatheodorou18@imperial.ac.uk> <sotirisp@protonmail.com>
